@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}

.overlay-bg {
  background: #050000;
  background: linear-gradient(
    106deg,
    rgba(5, 0, 0, 1) 3%,
    rgba(255, 255, 255, 0) 100%
  );
}
